* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary {
  font-family: "Cormorant", serif;
  font-family: "Cormorant Garamond", serif;
}

.secondary {
  font-family: "poppins", sans-serif;
}
