.primary {
  font-family: "Cormorant Garamond", serif;
}

.secondary {
  font-family: "Poppins", sans-serif;
}

::selection{
    background: #000;
    color:#f0f0e8;
}

html,
body {
  scroll-behavior: smooth;
  background: #f0f0e8;
}
